img{
    height: 100px;
    float: left;
   
}
.fontecabecario{
    font-family: Arial, Helvetica, sans-serif;   
    color: rgb(181, 153, 108);
    
}
.fontcabecabold{
     font-weight: bold;
}
.divcabecaria{
    float: right;
}
.textomenu{
    font-size:28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

.divmaior{
    background-color: #764A03;
    height: 450px;

}
